<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fake_store_api>
            <general>
                <api_url>https://fakestoreapi.com/</api_url>
            </general>
        </fake_store_api>
    </default>
</config>
